//////////////////////////////////////////////////
// HEADER

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 7rem 7rem 0 7rem;
  margin-bottom: 10rem;

  @include respond(medium) {
    padding: 3rem 3rem 0 3rem;
  }

  &__img {
    width: 20%;
  }
  &__links {
    &--link {
      &:not(:last-child) {
        margin-right: 5rem;
      }

      &:visited,
      &:link {
        text-decoration: none;

        color: $color-primary;
      }

      &:hover,
      &:focus {
        color: $color-cyan;
      }
    }
  }
}

//////////////////////////////////////////////////
// MAIN CONTENT

.main {
  padding: 0 7rem 0 7rem;

  @include respond(medium) {
    padding: 0 3rem 0 3rem;
  }
}

.hero {
  display: flex;
  align-items: center;
  justify-content: space-between;

  @include respond(medium) {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  &:not(:last-child) {
    margin-bottom: 15rem;
  }

  &__left {
    @include respond(medium) {
      order: 2;
    }
  }

  &__header {
    font-size: $font-huge;
    margin-bottom: 3rem;
    font-weight: 700;
    font-family: "Raleway";
    width: 95%;
  }

  &__text {
    width: 85%;
    margin: 3rem 0;

    @include respond(medium) {
      text-align: center;
      margin: 3rem auto;
    }
  }

  &__email {
    @include respond(medium) {
      margin: 0;
      margin-bottom: 3rem;
    }
  }

  &__right {
    @include respond(medium) {
      order: 1;
    }
  }

  &__img {
    display: block;
    width: 100%;
    height: 100%;

    @include respond(medium) {
      margin-bottom: 7rem;
    }

    // width: 64rem;
    // height: 47rem;
  }

  &__btn {
    background-color: $color-tertiary;
    padding: 2rem 6rem;
    color: $color-grey--1;
    border-radius: 0.5rem;
    font-size: 1.4rem;
    font-family: "Raleway";
    font-weight: 700;

    @include respond(medium) {
      display: block;
      width: 70%;
      margin: 0 auto;
    }

    &:hover,
    &:focus {
      filter: brightness(125%);
      cursor: pointer;
    }
  }
}

.productive {
  background-image: url(../imgs/bg-curve-desktop.svg);
  //   background-size: cover;
  background-position: top;
  background-repeat: no-repeat;

  padding-top: 10rem;

  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 20rem;

  @include respond(medium) {
    padding-bottom: 10rem;
  }

  @include respond(medium) {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  &:not(:last-child) {
    margin-bottom: 15rem;
  }

  &__left {
    @include respond(medium) {
      order: 2;
    }
  }

  &__header {
    font-size: $font-large;
    font-weight: 700;
    font-family: "Raleway";
  }

  &__text--1 {
    width: 85%;
    margin: 3rem 0 2rem 0;

    @include respond(medium) {
      margin: 3rem auto;
    }
  }

  &__text--2 {
    width: 85%;
    margin-bottom: 1.5rem;

    @include respond(medium) {
      margin: 3rem auto;
    }
  }

  &__email {
  }

  &__right {
    @include respond(medium) {
      order: 1;
    }
  }

  &__img {
    display: block;
    // width: 64rem;
    // height: 47rem;

    width: 100%;
    height: 100%;
  }

  &__link {
    width: max-content;
    display: flex;
    align-items: center;
    margin-bottom: 5rem;

    @include respond(medium) {
      margin: 3rem auto;
    }

    img {
      padding-left: 0.7rem;
    }

    &:link,
    &:visited {
      color: $color-cyan;
      text-decoration: none;
      border-bottom: 1px solid $color-cyan;
      padding-bottom: 0.5rem;
    }

    &:hover,
    &:focus {
      filter: brightness(125%);
    }
  }

  &__quote {
    line-height: 1.5;
    width: 27rem;
    padding: 3rem;
    background-color: $color-grey--1;
    border-radius: 0.7rem;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
      rgba(0, 0, 0, 0.22) 0px 15px 12px;

    @include respond(medium) {
      margin: 3rem auto;
    }

    &--text {
      margin: 0 0 1.5rem 0;
      font-size: 1.3rem;
    }
  }

  &__user {
    display: flex;
    align-items: center;

    &--img {
      height: 3.2rem;
      width: 3.2rem;
      border-radius: 50%;
      margin-right: 0.7rem;
    }
  }

  &__username {
    font-size: 1.1rem;
    display: flex;
    flex-direction: column;

    span {
      font-size: 0.8rem;
    }
  }
}

//////////////////////////////////////////////////
// CTA

.cta {
  background-color: $color-secondary;
  color: $color-grey--1;

  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 10rem 7rem 7rem 7rem;

  @include respond(medium) {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  &__header {
    margin-bottom: 3rem;
    font-size: $font-large;
    font-weight: 700;
    font-family: "Raleway";

    @include respond(medium) {
      text-align: center;
    }
  }
  &__left {
    width: 50%;

    @include respond(medium) {
      width: 80%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  }

  &__text {
    width: 75%;

    @include respond(medium) {
      width: 80%;
      margin: 0 auto;
      text-align: center;
      margin-bottom: 3rem;
    }
  }

  &__right {
    width: 50%;
    @include respond(medium) {
      width: 80%;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }

  &__input {
  }

  &__btn {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;

    width: max-content;

    background-color: $color-tertiary;
    padding: 1.5rem 6rem;
    color: $color-grey--1;
    border-radius: 0.5rem;

    font-size: 1.4rem;
    font-family: "Raleway";
    font-weight: 700;

    @include respond(medium) {
      align-items: center;
      justify-content: center;
      width: 80%;
    }

    &:hover,
    &:focus {
      filter: brightness(125%);
      cursor: pointer;
    }
  }
}

//////////////////////////////////////////////////
// FOOTER

.footer {
  color: $color-grey--1;
  background-color: $color-primary;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 10rem 7rem 7rem 7rem;
  line-height: 2.25;

  &__content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    margin-top: 5rem;

    @include respond(medium) {
      flex-direction: column;
    }
  }

  &__box {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;

    @include respond(medium) {
      &:not(:last-child) {
        margin-bottom: 3rem;
      }
    }
  }

  &__img {
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(288deg)
      brightness(1000%) contrast(102%);

    // width: 13.5rem;
    // height: 3.9rem;

    width: 20%;
  }

  &__phone {
    @include respond(medium) {
      display: flex;
      align-items: center;
    }
  }

  &__email {
    @include respond(medium) {
      display: flex;
      align-items: center;
      margin-top: 1rem;
    }
  }

  &__icon {
    margin-right: 1.5rem;
  }

  &__link {
    &:active,
    &:link {
      text-decoration: none;
      color: $color-grey--1;
      cursor: pointer;
    }

    &:hover,
    &:focus {
      color: $color-tertiary;
      cursor: pointer;
    }
  }

  &__social {
    display: flex;

    @include respond(medium) {
      justify-content: center;
      align-items: center;
      width: 100%;
    }

    &--socials {
      &:not(:last-child) {
        margin-right: 1rem;
      }
      &:active,
      &:link {
        text-decoration: none;
        color: $color-grey--1;
      }

      &:hover,
      &:focus {
        filter: brightness(0) saturate(100%) invert(33%) sepia(66%)
          saturate(4166%) hue-rotate(218deg) brightness(99%) contrast(97%);
      }

      img {
        display: block;
        height: 3.2rem;
        width: 3.2rem;
        filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(288deg)
          brightness(1000%) contrast(102%);
      }
    }
  }
}

//////////////////////////////////////////////////
// INPUT PLACEHOLDER
::placeholder {
  opacity: 0.5;
  position: relative;

  &::before {
    content: "Please check your email!";
    display: block;
    font-size: $font-small;
    width: 100%;
    height: 100%;
    color: red;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1000;
  }
}

input {
  padding: 1.4rem 2.2rem;
  margin: 0.8rem 0;
  display: inline-block;
  border: 0.1rem solid $color-primary;
  border-radius: 0.4rem;
  outline: none;
  transition: border-color 0.5s ease-out;
}

// input:required:focus:valid {
// }

input:focus:invalid {
  border: 0.1rem solid red;
}

.hero input[type="email"] {
  width: 50%;

  @include respond(medium) {
    width: 81.25%;
  }
}

.cta input[type="email"] {
  width: 75%;

  @include respond(medium) {
    width: 100%;
  }
}
