//////////////////////////////////////////////////
// COLORS
$color-primary: hsl(243, 87%, 12%);
$color-secondary: hsl(238, 22%, 44%);
$color-tertiary: hsl(224, 93%, 58%);
$color-cyan: hsl(170, 45%, 43%);

$color-grey--1: hsl(240, 75%, 98%);
$color-grey--2: hsl(0, 0%, 75%);

//////////////////////////////////////////////////
// FONTS

$font-small: 1.6rem;
$font-medium: 1.7rem;
$font-large: 3.2rem;
$font-huge: 4rem;

//////////////////////////////////////////////////
// MEDIA QUERY MANAGER
